body {
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
}
.mainMenu {
  padding: 0 !important;
}

/* @media screen and (min-width: 960px) {
  .mainSiteContent {
    margin-left: 225px !important;
    padding-right: 225px !important; 
  }
} */

.toolbarItem {
  color: #FFF !important;
  background-color: rgb(36, 48, 94) !important;
}
.toolbarItem .material-icons {
  color: #FFF !important;
}
.toolbarItem p {
  color: #FFF !important;
}

.activeToolbarItem {
  color: rgb(36, 48, 94) !important;
  background-color: #FFF !important
}
.activeToolbarItem .material-icons {
  color: rgb(36, 48, 94) !important;
}
.activeToolbarItem p {
  color: rgb(36, 48, 94) !important;
}